<!DOCTYPE html>
<html lang="en">

{% include head.liquid %}

<body class='{{ page.class }} layout-{{page.layout}}'>
  <header class="site-header">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p class='byline'>{{byline}}</p>
  </header>
  <article class="play">
    {{ content | safe }}
  </article>
  <div class="overlay-image">
    <video id='silk' src="/assets/videos/silk.mp4" autoplay muted loop></video>
  </div>
  <script src='{{"/js/site.js" | url }}'></script>
</body>

</html>